<div *ngIf="loading" id="loading" class="fixed z-50 top-0 left-0 w-full h-full bg-gray-500 opacity-75 flex items-center justify-center">
  <!-- <div class="flex opacity-100 bg-white w-[180px] rounded-lg items-center justify-center p-2">

  
  <div class="loader ease-linear rounded-full border-4 border-t-4 border-gray-900 h-8 w-8 md:h-12 md:w-12"></div>
  <h2 class="text-center mt-2 ml-2 text-gray-900 text-sm md:text-xl font-semibold">Loading...</h2>
  
</div> -->
<div class="py-2.5 px-2 mr-2 z-100 opacity-100 text-sm md:text-lg font-medium text-gray-900 bg-white rounded-lg border border-gray-200  inline-flex items-center">
  <svg aria-hidden="true" role="status" class="inline w-4 h-4 md:w-8 md:h-8 mr-3 text-gray-200 animate-spin dark:text-gray-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
  <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="#06b6d4"/>
  </svg>
  Loading...
</div>
</div>

<div class="container mt-24 z-0" align="center" > 
  <div class="row  justify-content-center " *ngIf="avatarUrl">
    <img  class="object-cover rounded-full h-32 w-32 sm:h-40 sm:w-40" src="{{ avatarUrl }} " style="cursor: pointer; border:.1px solid  #e2e3e4"/>
</div><br>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form ">
      <div class="relative mb-2">
        <label class="text-cyan-500 font-medium hover:underline cursor-pointer
         dark:text-cyan-400 hover:text-cyan-600" for="fileSource">Change Profile Picture</label>
        <input class="d-none"  type="file" id="fileSource" (change)="onFileChanged($event)" formControlName="fileSource">
      </div>
        <div class="relative mb-6">
            <input type="text" id="full_name" formControlName="full_name" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent 
            rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none 
            focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
            <label for="full_name" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 
            origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 
            peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 
            peer-focus:-translate-y-4 left-1">Fullname</label>
            
            <p *ngIf="submitted && err" class=" text-xs text-red-600 dark:text-red-400">
              <span *ngIf="err.error['full_name']" class="font-medium">*</span>{{err.error['full_name']}}</p>
        </div>

      <div class="relative mb-6">
        <input type="text" id="username" formControlName="username" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent 
        rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none 
        focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
        <label for="username" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 
        origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 
        peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 
        peer-focus:-translate-y-4 left-1">Username</label>
        
        <p *ngIf="submitted && err" class=" text-xs text-red-600 dark:text-red-400">
          <span *ngIf="err.error['username']" class="font-medium">*</span>{{err.error['username']}}</p>
        <p *ngIf="submitted && f['username'].errors" class=" text-xs text-red-600 dark:text-red-400">
          <span *ngIf="f['username'].errors['required']" class="font-medium">*Username</span> required</p>
     </div>
    
     <div class="relative ">
      <input type="email" id="email" formControlName="email" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent 
      rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none 
      focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
      <label for="email" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 
      origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 
      peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 
      peer-focus:-translate-y-4 left-1">Email</label>
      
      <p *ngIf="submitted && err" class=" text-sm text-red-600 dark:text-red-400">
        <span *ngIf="err.error['email']" class="font-medium">*</span>{{err.error['email']}}</p>
      <p *ngIf="submitted && f['email'].errors" class=" text-sm text-red-600 dark:text-red-400">
        <span *ngIf="f['email'].errors['required']" class="font-medium">*Email<span class="font-normal"> required</span></span>
        <span *ngIf="f['email'].errors['email']" class="font-medium">*Enter a valid Email</span></p>
   </div>
   <div class="inline-flex items-center justify-center w-full">
    <hr class="w-64 h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
    <span class="absolute px-3 font-medium text-gray-900 -translate-x-1/2 bg-white left-1/2 dark:text-white dark:bg-gray-900">
        <a [routerLink]="['/change-password']" 
        class="text-cyan-500 hover:underline hover:text-cyan-600 dark:text-cyan-400">Change Password</a>
    </span>
</div>

   <div class="relative mb-6">
    <textarea type="text" id="intro" formControlName="intro" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent 
    rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none 
    focus:ring-0 focus:border-blue-600 peer" placeholder=" "></textarea>
    <label for="intro" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 
    origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 
    peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 
    peer-focus:-translate-y-4 left-1">Brief Intro about yourself</label>
    
    <p *ngIf="submitted && err" class=" text-xs text-red-600 dark:text-red-400">
      <span *ngIf="err.error['intro']" class="font-medium">*</span>{{err.error['intro']}}</p>
</div>

<div class="relative mb-6">
<input type="url" id="website" formControlName="website" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent 
rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none 
focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
<label for="website" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 
origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 
peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 
peer-focus:-translate-y-4 left-1">Website</label>

<p *ngIf="submitted && err" class=" text-xs text-red-600 dark:text-red-400">
  <span *ngIf="err.error['website']" class="font-medium">*</span>{{err.error['website']}}</p>

</div>

<div class="relative mb-6">
<input type="number" id="mobile_number" formControlName="mobile_number" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent 
rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none 
focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
<label for="mobile_number" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 
origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 
peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 
peer-focus:-translate-y-4 left-1">Mobile Number</label>

<p *ngIf="submitted && err" class=" text-sm text-red-600 dark:text-red-400">
<span *ngIf="err.error['mobile_number']" class="font-medium">*</span>{{err.error['mobile_number']}}</p>
</div>
      <div class="mb-6" *ngIf="inCorrect">
        <small class="mt-2 text-sm text-red-600 dark:text-red-500">{{serverError}}</small>
      </div>
      <button type="submit" [disabled]="!form.valid" class="text-white duration-300 cursor-pointer bg-cyan-500 hover:bg-cyan-600 focus:ring-4 focus:outline-none focus:ring-cyan-300 font-medium 
      rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-cyan-400 dark:hover:bg-cyan-700 
      dark:focus:ring-cyan-800"><span *ngIf="loading" role="status">
        <svg aria-hidden="true" class="inline w-4 h-4 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
        </svg>
        <span class="sr-only">Loading...</span>
      </span> Update Profile</button>
  
    </form><br><br><br><br><br><br>
  
  </div>