
<div [ngClass]="showOptions() == true ? 'justify-between': 'justify-start'" 
class="sticky top-0 w-full mb-1 flex items-center z-10  bg-cyan-500 p-2 border-b border-gray-200">
  <a (click)="backClick()" class="cursor-pointer">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      class="w-10 h-10 my-1 text-white"
    >
      <path
        class="text-white fill-current"
        d="M9.41 11H17a1 1 0 0 1 0 2H9.41l2.3 2.3a1 1 0 1 1-1.42 1.4l-4-4a1 1 0 0 1 0-1.4l4-4a1 1 0 0 1 1.42 1.4L9.4 11z"
      />
    </svg>
  </a>
  
  <div  class="flex cursor-pointer items-center">
    
    <div>
      <div *ngIf="!title" class="text-base font-medium text-white">{{username}}</div>
      <div *ngIf="title=='Notifications'" class="text-base font-medium text-white">{{title}}</div>
      <!-- <div class="text-xs text-gray-500">Active 5 mins ago</div> -->
    </div>
  </div>
  <button *ngIf="showOptions()" class="p-1 rounded-full  focus:outline-none"  >
    <svg 
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      class="icon-dots-vertical cursor-pointer w-8 h-8"
    >
      <path
        class="text-white fill-current"
        fill-rule="evenodd"
        d="M12 7a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 7a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 7a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"
      />
    </svg>
  </button>
  
</div>


  <!-- <div [ngClass]="showOption() == true ? 'justify-between': 'justify-start'"
    class="fixed  w-full bg-cyan-500 h-16 z-10 text-white flex shadow-md"
    style="top:0px; overscroll-behavior: none;"
  >
    back button
    <a (click)="backClick()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="w-12 h-12 my-1 cursor-pointer text-white ml-2"
      >
        <path
          class="text-white fill-current"
          d="M9.41 11H17a1 1 0 0 1 0 2H9.41l2.3 2.3a1 1 0 1 1-1.42 1.4l-4-4a1 1 0 0 1 0-1.4l4-4a1 1 0 0 1 1.42 1.4L9.4 11z"
        />
      </svg>
    </a>
    <div  class="my-3 text-white font-bold text-lg tracking-wide">
        <span class="my-3 text-white  text-lg tracking-none" >@{{username}}</span>
        </div>
    3 dots
    <svg *ngIf="showOption()"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      class="icon-dots-vertical w-8 h-8 mt-2 mr-2"
    >
      <path
        class="text-white fill-current"
        fill-rule="evenodd"
        d="M12 7a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 7a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 7a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"
      />
    </svg>
  </div> -->
